@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Movies DVD Shop</p>
    <img src="~/img/all.jpg" alt="img" width="600" height="300">
</div>
